:root {
  --primary: #c96567;
  --dark: #314455;
  --lightgray: #97aabd;
  --darkprimary: #644e5b;
  --lightherprimary: #9e5a63;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light);
}

body {
  background: var(--primary);
}

.wrapper {
  display: grid;
}

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0; /* ul has padding by default so we make it 0 */
  list-style: none; /* we dont want bullets */
  grid-template-columns: repeat(3, 1fr);
}

.main-nav a {
  background: var(--dark);
  display: block;
  color: var(--light);
  text-decoration: none;
  text-align: center;
  font-size: 1.75rem;
  padding: 0.8rem;
  box-shadow: var(--shadow);
}
.main-nav a:hover {
  background: var(--lightgray);
  color: var(--dark);
}

img {
  max-width: 100%;
}

.title {
  background-image: url("../img/2.png");
  background-size: cover;
  background-position: center;
  min-height: 700px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 3rem;
}
.main-image {
  display: grid;
}
.title h2 {
  font-size: 8rem;
  margin-top: 0;
  margin-bottom: 0;
}

.title p {
  font-size: 3rem;
  margin: 0 2rem;
}
