* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-image: url(img/2.png);
  background-size: 100%;

}

.container {
  width: 100%;
  height: auto;
  /* background-color: white; */
}


.main {
  max-width: 1500px;
  height: auto;
  margin: 0 auto;
  background-color: black;
}


nav {
  width: 100%;
  height: 100px;
  background-color: white;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: #272727;
  line-height: 100px;
  padding: 35px 10px;
  font-size: 15px;
  letter-spacing: 0.5px;
}

